body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
    background-color: #ACCAB0;
    background:#e1efbb url("https://cdn.wallpapersafari.com/14/87/dU7Lxw.jpg");
    color: rgb(255, 255, 255);
    padding: 40px;
    font-family: Arial;
    text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  border :5px solid rgb(184, 187, 181);
  border-collapse: collapse;
  width: 100%;
}

th, td{
  border: 5px solid rgb(184, 187, 181);
  padding: .5rem;
}


caption{

font-size: 1.1rem;
font-weight: bold;
/* background :rgb(23, 122, 58) ; */
padding: .2rem 0;
text-align: center;
}

/* thead{
background:rgb(23, 122, 58);

}
tbody tr:nth-child(odd){
background: rgb(23, 122, 58);
}
 */
